#table-data-view td {
    vertical-align: middle;
}

#table-data-view .animate-if div {
    transition: max-height 100ms linear;
}

#table-data-view tr.animate-if > td {
    border: 0;
    padding: 0;
}

#table-data-view .hidden-animate div {
    max-height:0;
    overflow: hidden;
}

#table-data-view .show-animate div {
    max-height: 500px;
}

#table-data-view .dropdown-link {
    text-decoration: none;
}

.element {
    display: inline-block;
    color: white;
    padding: 4px;
    border-radius: 4px;
    margin-right: 4px;
}

.element.NORMAL {
    background-color: black;
}

.element.FIRE {
    background-color: darkred;
}

.element.WATER {
    background-color: darkblue;
}

.element.EARTH {
    background-color: saddlebrown;
}

.element.WIND {
    background-color: darkcyan;
}

.element.POISON {
    background-color: darkgreen;
}

.element.HOLY {
    background-color: darkgoldenrod;
}

.element.UNDEAD {
    background-color: purple;
}

.element.GHOST {
    background-color: gray;
}

#login h2 {
    margin-bottom: 1em;
}
